<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>About Cooking Buddy</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
</head>
<body>
<div class="container">
	<div class="about">
		<h1>About Cooking Buddy</h1>
		<p>This is a Cooking Assistant which will read your cooking instructions to you and accept your voice commands to navigate through steps.</p>
		<p>This was created by Adam Gillfillan, Brandon Godwin, and Mark Reed for CSC495 Spoken Dialogue Systems.</p>
	</div>
</div>

<div class="footer">
	<div class="container">
	<p class="text-muted">Cooking Buddy: The Cooking Assistant</p>
	</div>
</div>
</body>
</html>