{% extends "cooking_buddy/base.html" %}

{% block title %}Cooking Buddy{% endblock %}

{% block content %}
<!-- Begin page content -->
<div class="container">
	<div class="page-header">
		<h1>Recipes List</h1>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="recipe/salisbury-steak-with-mushrooms">Salisbury Steak</a></li>
			<li><a href="recipe/cinnamon-rock-candy">Cinnamon Rock Candy</a></li>
			<li><a href="recipe/green-bean-casserole">Green Bean Casserole</a></li>
			<li><a href="recipe/pumpkin-french-toast">Pumpkin French Toast</a></li>
			<li><a href="recipe/spinach-and-bacon-quiche">Spinach and Bacon Quiche</a></li>
		</ul>
	</div>
</div>
{% endblock %}