{% extends "cooking_buddy/base.html" %}
{% load staticfiles %}

{% block title %}Cooking Buddy: View Recipe{% endblock %}

{% block content %}
<!-- Begin page content -->
<div class="container">
	<div class="page-header">
		<h3 id="name"></h3>

	</div>
	<div class="row">
  		<div class="col-xs-6 col-md-4">
			<img id="img1" src="" class="img-responsive">
			<h3><strong>Ingredients</strong></h3>
			<h4>
				<ul id="ingredients_list"></ul>
			</h4>
		</div>
		<div class="col-xs-12 col-md-8">
			<div id="results">
				<h3><strong>Steps</strong></h3>
				<h4>
					<ol type="1" id="steps_list"></ol>
				</h4>
				<button type="button" class="btn btn-primary" id="start_button" onclick="startDictation(event)">Begin</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function getTimestamp() {
		return Math.round(new Date().getTime() / 1000);
	}
	var recipe;
	var current_step = -1;
	var display_step = current_step + 1;
	var session_id = getTimestamp();

	// Load data asynchronously with the rest of the javascript
	$.ajax({
		url: '{% static "cooking_buddy/recipes/"|add:recipe|add:".json" %}',
		async: false,
		dataType: 'json',
		success: function (data) {
			$.each(data.steps, function(index) {
				step_num = index+1;
				document.getElementById("steps_list").innerHTML += "<li id="+step_num+">" + data.steps[index] + "</li>";
				total_steps = step_num;
			});
			$.each(data.ingredients, function(index) {
				document.getElementById("ingredients_list").innerHTML += "<li>" + data.ingredients[index] + "</li>";
			});
			recipe = data;
			recipe_name = recipe.name;
		}
	});
	document.getElementById("img1").src = recipe.image;
	document.getElementById("name").innerHTML = recipe.name;
	var final_transcript = '';
	var recognizing = false;

	/**
	 * Jquery serializes methods by calling them and using the return value.
	 * This causes a problem with the Speech Recognition Result object.
	 *
	 * This will extract just the values from it.
	 */
	function extractDataFromObject(obj) {
		var ret = {};

		for(name in obj) {
			var type = jQuery.type(obj[name]);
			if(type === "function")
				continue;
			else if(type === "object")
				ret[name] = extractDataFromObject(obj[name]);
			else
				ret[name] = obj[name];
		}

		return ret;
	}

	/**
	 * Returns the steps back to their original styling
	 */
	function returnStylingOfSteps(display_step) {
		document.getElementById(display_step).style.color = "";
		document.getElementById(display_step).style.fontSize = "1em";
	}

	/**
	 * Changes the styling of the current step the user is on
	 */
	function changeStylingOfCurrentStep(display_step) {
		document.getElementById(display_step).style.color = "red";
		document.getElementById(display_step).style.fontSize = "2.0em";
	}
	$(window).load(function() {
		window.speechSynthesis.speak(new SpeechSynthesisUtterance("Hello. I am your CookingBuddy."));
		window.speechSynthesis.speak(new SpeechSynthesisUtterance("I assist you with cooking meals based on a recipe."));
		window.speechSynthesis.speak(new SpeechSynthesisUtterance("You can say things like, how many steps are left?"));
		window.speechSynthesis.speak(new SpeechSynthesisUtterance("Or: what is the next step?"));
		window.setTimeout(introB, 12000);
	});

	function introB(){
		window.speechSynthesis.speak(new SpeechSynthesisUtterance("To begin with your recipe, first click begin."));
		window.speechSynthesis.speak(new SpeechSynthesisUtterance("Then say, what is the first step?"));
	}


	if ('webkitSpeechRecognition' in window) {
		var recognition = new webkitSpeechRecognition();
		var finished = false;
		grounded_next = false;
		grounded_back = false;
		grounded_step = false;
		recognition.onstart = function() {
			recognizing = true;
		};

		recognition.onerror = function(event) {
			console.log(event.error);
		};

		recognition.onend = function() {
			if(recognizing)
				recognition.start();
		};

		recognition.onresult = function(event) {
			var interim_transcript = '';
			var results;
			var action = '';
			for (var i = event.resultIndex; i < event.results.length; ++i) {
				if (event.results[i].isFinal) {
					results = event.results[i];
					final_transcript += event.results[i][0].transcript;
					console.log(event.results[i])
				} else {
					interim_transcript += event.results[i][0].transcript;
				}
			}

			if (final_transcript != ""){
				action = "nothing";
				console.log(final_transcript);
				// matches first keyword and ensures the user is on step 0.
				if (final_transcript.match(/first/i) && current_step == -1){
					current_step += 1;
					display_step = current_step + 1;
					action = 'first';
					console.log(final_transcript);
					window.speechSynthesis.speak(new SpeechSynthesisUtterance(recipe.steps[current_step]));
					changeStylingOfCurrentStep(display_step);
					finished = false;
				}
				// matches "next" to go to the next step and ensures the user isn't finished
				if (final_transcript.match(/next/i) && !finished){
					current_step += 1;
					console.log(final_transcript);
					display_step = current_step + 1;
					action = 'next';
					window.speechSynthesis.speak(new SpeechSynthesisUtterance(recipe.steps[current_step]));
					if (display_step > 1){
						returnStylingOfSteps(display_step-1);
					}
					changeStylingOfCurrentStep(display_step);
					finished = false;
				}
				// checks if back keyword is in transcript && also not at the start of the recipe
				if (final_transcript.match(/back/i) && current_step != 0){
					current_step -= 1;
					display_step = current_step + 1;
					action = 'back';
					console.log(final_transcript);
					window.speechSynthesis.speak(new SpeechSynthesisUtterance(recipe.steps[current_step]));
					if (display_step >= 1){
						returnStylingOfSteps(display_step+1);
					}
					changeStylingOfCurrentStep(display_step);
					finished = false;
				}
				// matches "step $step_num"
				// using "go to step $step_num" is bad because the ASR has a lot of difficulty with the phrase "go to step"
				var re = /step (\d+)/i;
				go_to = final_transcript.match(re);
				if (go_to){
					action = 'goto';
					console.log(final_transcript);
					if (display_step >= 1){
						returnStylingOfSteps(display_step);
					}
					current_step = go_to[1] - 1;
					display_step = current_step + 1;
					changeStylingOfCurrentStep(display_step);
					window.speechSynthesis.speak(new SpeechSynthesisUtterance(recipe.steps[current_step]));
					finished = false;
				}
				// matches "how many steps are left"? and returns the answer
				if (final_transcript.match(/how many steps/i)){
					action = 'question';
					console.log(final_transcript);
					steps_left = total_steps - display_step;
					utterance = "You have " + steps_left + "steps left.";
					window.speechSynthesis.speak(new SpeechSynthesisUtterance(utterance));
				}
				// determines if the user is on the final step
				if (display_step == total_steps && !finished){
					console.log(final_transcript);
					utterance = "You have finished cooking. To hear the previous step, say go back. Enjoy your meal!"
					window.speechSynthesis.speak(new SpeechSynthesisUtterance(utterance));
					finished = true;
				}
				if (current_step == 0 && !grounded_next){
					window.speechSynthesis.speak(new SpeechSynthesisUtterance("To go to the next step in the recipe, say, what is next?"));
					grounded_next = true;
				}
				if (current_step == 1 && !grounded_back){
					window.speechSynthesis.speak(new SpeechSynthesisUtterance("To go to the previous step, say, go back."));
					grounded_back = true;
				}
				if (current_step == 2 && !grounded_step){
					window.speechSynthesis.speak(new SpeechSynthesisUtterance("You can jump ahead to any step, by saying, step and the number."));
					window.speechSynthesis.speak(new SpeechSynthesisUtterance("For example, say, step 5."));
					grounded_step = true;
				}
				// log the event
				$.post('{% url "CookingBuddy.views.log_utterance" %}', {
					session_id: session_id,
					timestamp: getTimestamp(),
					recipe: recipe_name,
					current_step: current_step,
					action: action,
					asrResults: extractDataFromObject(results)
				});
			}
			final_transcript = '';
		};
	}

	function startDictation(event) {
		if (recognizing) {
			recognizing = false;
			recognition.stop();
			return;
		}
		final_transcript = '';
		recognition.lang = 'en-US';
		recognition.start();
	}
</script>
{% endblock %}